{% extends 'admin.html.twig' %}
{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group form-footer">
        <div class="col-sm-offset-4 col-sm-8">
            <button type="submit" class="btn btn-primary">提交</button>
            <button type="reset" class="btn btn-default">重置</button>
        </div>
    </div>
{{ form_end(form) }}
{% endblock %}